@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.square {
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    line-height: 30px;
}
.index {
    background-color: black;
    color: #fff;
}
.blank {
    background-color: transparent;
}
.sea {
    background-color: aqua;
}
.ship {
    background-color: blue;
    color: #fff;
}
.hitted {
    background-color: green;
    color: #fff;
}
.missed {
    background-color: red;
    color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
